// 页面颜色变量
$body-bg: #f7f7f7; // 背景主色
$main-color: #3071FF; // 网站主色调
$bg-gray: #F6F6F6; // 背景灰色

// 页面字体变量
$family-main: 'Avenir, Helvetica, Arial, sans-serif';
// 字体颜色
$color-font: #3273ff; //字体蓝色
$color-font-main: #4c4c4c; //字体主色
$color-font-gray: #9B9B9B; // 字体灰色

// 大中小号字号
$fontsize_big: 30px;
$fontsize_middle: 16px;
$fontsize_small: 12px;
