
.filter-gray {
  // filter: grayscale(100%);
  color: #ccc !important;
  div, p, span, a {
    color: #ccc !important;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.stopScroll {
  overflow: hidden;
}

// 适配iphonex底部，用于占位
.lite-space {
  width: 100%;
  height: 30px;
  opacity: 0;
}

/*自定义1px像素边框(利用变换的缩放属性)*/
.line-1px-demo {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: px(-670);
  width: px(1340);
  height: 1px;
  background: #EFF0F1;
  transform: scale(.5);
}